.hover-container {
    position: relative;
}

.hover-container .hover\:show {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.hover-container:hover .hover\:show {
    display: block;
}
